* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
}
.header {
  /* width:100%;
  max-width: 1400px; */
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: black;
}
.logo {
  width: 30px;
  height: 30px;
  border: 2px b solid blueviolet;
  border-radius: 50px;
}
.ld {
  height: 40px;
  width: 100px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Dawnjoo {
  font-size: 20px;
  color: rgb(0, 136, 169, 1);
  display: inline;
}
.ha {
  text-decoration: none;
  color: white;
  z-index: 999;
}
.ha:hover {
  transition: all 1s ease 0s;
  color: rgb(0, 136, 169, 1);
  font-size: 18px;
}
.DESCRIPTION {
  width: 100%;
  max-width: 1000px;
  height: 220px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 30px;
  position: absolute;
  left: 80px;
  top: 80px;
  flex-wrap: wrap;
 
}
.boxs {
 height: 300px;
  width: 1100px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 320px;
  left: 55px;
  padding-left: 30px;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 250px;
  border: 1px solid blueviolet;
  border-radius: 15px;
  box-shadow: 0.5px 1px 20px rgb(130, 16, 237);
  background-color: rgba(130, 16, 237, 0.587) ;
}
.one{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.pe{
 width: 60px;
 height: 30px;
 z-index: 155;
 display: flex;
 justify-content: center;
 align-items: center;
}
.pp{
font-weight: bold;
color: white;
 }
.mo{
  width: 60px;
  height: 30px;
  z-index: 155;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.more{
  text-decoration: none;
  color: white;
}
.two{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.three{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
